
/*
 * Ad Blocks
 */

.ad-block {
  
}

.ad-wrapper {
  
}

.ad-unit {
  padding: 0;
  margin: 0 auto;
}

.half-page {
  height: 600px;
  width: 300px
}

.billboard {
  height: 90px;
  width: 970px;
}

.leaderboard {
  height: 90px;
  width: 728px;
}

.med-rect {
  height: 250px;
  width: 300px;
}
