
/*
 * Anchor blocks
 */

a.anchor-block {
  display: block;
  margin: 0 auto;
  padding: 0;
  position: relative;
  height: 100%;
}

a.anchor-block.inline {
  display: inline-block;
}

/*
 * Anchor Lists & Anchor Bars
 */

.anchor-bar,
.anchor-list {
  
}

.anchor-list > a {
  display: block;
}

.anchor-bar > a {
  display: inline-block;
}
