
/* ========================================================================== 
 * Adding classes to native form elements for more control.
  ========================================================================== */

.form-wrapper {}
.form-group {}
.form-header {}
.form-content {}
.form-footer {}
.form-control {}

.input-wrapper .input-el,
.input-el {
  border: 0px;
}

.input-el.centered-txt {
  padding: 0;
}

.input-item {}
.input-group {}

.input-wrapper {
  margin-bottom: .49em;
}

.input-label {}
