
/*
 * Pallete
 * 
 * Refer to: http://colours.neilorangepeel.com/
 */

.swatch- {
  
}

.bg-lite-smoke {
  background-color: #efefef;
}

.bg-medium-lite-smoke {
  background-color: #dfdfdf;
}

.bg-medium-smoke {
  background-color: #cfcfcf;
}

.bg-smoke {
  background-color: #bfbfbf;
}

.bg-dark-smoke {
  background-color: #afafaf;
}

.bg-darker-smoke {
  background-color: #9f9f9f;
}

.bg-lite-gray {
  background-color: #8f8f8f;
}

.bg-gray {
  background-color: #7f7f7f;
}

.bg-dark-gray {
  background-color: #6f6f6f;
}

.bg-lite-slate {
  background-color: #5f5f5f;
}

.bg-slate {
  background-color: #4f4f4f;
}

.bg-lite-charcoal {
  background-color: #3f3f3f;
}

.bg-charcoal {
  background-color: #2f2f2f;
}

.bg-lite-black {
  background-color: #1f1f1f;
}

.bg-off-black {
  background-color: #0f0f0f;
}

.bg-orange {
  background-color: orange;
}

.bg-dark-orange {
  background-color: darkorange;
}

.bg-teal {
  background-color: teal;
}

.bg-dark-cyan {
  background-color: darkcyan;
}

.txt-white {
  color: white;
}

.bg-pink {
  background-color: pink;
}
