/*
 * 
 */

a:hover {
  text-decoration: underline;
  opacity: 1;
}

a,
input[type="email"],
input[type="submit"],
label {
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  
  opacity: .85;
}

input[type="submit"]:hover,
label:hover {
  cursor: pointer;
  opacity: 1;
}
